{% extends 'transaction/base.html' %}

{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'transaction/style.css' %}">

<h2>Detail Transaction</h2>
<hr>
<table>
    <tr>
        <th>Transaction Date</th>
        <th>Transaction Type</th>
        <th>Transaction Desc</th>
        <th>Account</th>
        <th>Position</th>
        <th>Total</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ i.transaction.date|title }}</td>
        <td>{{ i.transaction.type }}</td>
        <td>{{ i.transaction.desc }}</td>
        <td>{{ i.account }}</td>
        <td>{{ i.pos|title }}</td>
        <td>{{ i.total|intcomma }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<a href="{% url 'transaction' %}"><button>Kembali</button></a>
{% endblock %}