{% extends 'transaction/base.html' %}

{% block content %}
<h3>Edit Transaction</h3>
<hr>

<form action="" method="post">
    {% csrf_token %}
{{ date }}
{{ type }}
{{ desc }}
<hr>


{% for i in account_form_debit %}
<li>{{i}}</li>
{% endfor %}
<hr>


{% for i in account_form_credit %}
<li>{{i}}</li>
{% endfor %}
<hr>
<button>Save Update</button>
</form>

<a href="{% url 'transaction' %}"><button>Kembali</button></a>

<script>
    $(document).ready(function () {
    $("select").chosen({
       placeholder_text_single:"Account",
       allow_single_deselect: true});
 });
</script>

{% endblock %}