<html lang="en">

</html>
{% load static %}
<link rel="stylesheet" href="{% static 'transaction/style.css' %}">

<h1>Transaksi PT. AnS {{user}}</h1>
<hr>
<a href="{% url 'add_transaction' %}"><button>Tambah Transaksi</button></a>
<a href="{% url 'all_account' %}"><button>List Akun</button></a>
<hr>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <th>Transaction Date</th>
        <th>Transaction Type</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    {% for i in data_transaction %}
    <tr>
        <td>{{ i.date|title }}</td>
        <td>{{ i.type|title }}</td>
        <td>{{ i.desc|title }}</td>
        <td>
            <a href="{% url 'det_transaction' i.pk %}"><button>Detail</button></a>
            <a href="{% url 'edt_transaction' i.pk %}"><button>Update</button></a>
            <a href="{% url 'del_transaction' i.pk %}"><button>Delete</button></a>
        </td>
    </tr>
    {%endfor%}
</table>
<hr>
<a href="{% url 'dashboard' %}"><button>Back</button></a>



